AuthType shibboleth
require shib-user swarunk@andrew.cmu.edu
require shib-user dianaz1@andrew.cmu.edu
require shib-user atulb@andrew.cmu.edu
require shib-user aprabhak@andrew.cmu.edu
require shib-user vaibhav3@andrew.cmu.edu
require shib-user junboz2@andrew.cmu.edu
require shib-user jingxiaw@andrew.cmu.edu
require shib-user agadre@andrew.cmu.edu
require shib-user haojianj@andrew.cmu.edu
require shib-user yuyisun@andrew.cmu.edu
